<app-header></app-header>
<main role="main">

  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Часто задаваемые вопросы</h1>
  </div>
  <ng-container *ngFor="let faq of faqs">
    <div class="container">
      <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                      aria-expanded="true" aria-controls="collapseOne">
                {{faq.question}}
              </button>
            </h5>
          </div>

          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
              {{faq.answer}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>


</main>

<app-footer></app-footer>
