<app-header></app-header>
<main role="main">

  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Галерея</h1>
  </div>
  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        <div class="col-md-4">
          <div class="mb-4">
            <img src="/src/assets/gal.jpg" width="300" height="300"
                 class="d-inline-block" alt="">
          </div>
        </div>
        <div class="col-md-4">
          <div class="mb-4">
            <img src="/src/assets/gal1.jpg" width="300" height="300"
                 class="d-inline-block" alt="">
          </div>
        </div>
        <div class="col-md-4">
          <div class="mb-4">
            <img src="/src/assets/gal2.jpg" width="300" height="300"
                 class="d-inline-block" alt="">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="mb-4">
            <img src="/src/assets/gal3.jpg" width="300" height="300"
                 class="d-inline-block" alt="">
          </div>
        </div>
        <div class="col-md-4">
          <div class="mb-4">
            <img src="/src/assets/gal4.jpg" width="300" height="300"
                 class="d-inline-block" alt="">
          </div>
        </div>
        <div class="col-md-4">
          <div class="mb-4">
            <img src="/src/assets/gal5.jpg" width="300" height="300"
                 class="d-inline-block" alt="">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="mb-4">
            <img src="/src/assets/gal6.jpg" width="300" height="300"
                 class="d-inline-block" alt="">
          </div>
        </div>
        <div class="col-md-4">
          <div class="mb-4">
            <img src="/src/assets/gal7.jpg" width="300" height="300"
                 class="d-inline-block" alt="">
          </div>
        </div>
        <div class="col-md-4">
          <div class="mb-4">
            <img src="/src/assets/gal8.jpg" width="300" height="300"
                 class="d-inline-block" alt="">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="mb-4">
            <img src="/src/assets/gal9.jpg" width="300" height="300"
                 class="d-inline-block" alt="">
          </div>
        </div>
        <div class="col-md-4">
          <div class="mb-4">
            <img src="/src/assets/gal10.jpg" width="300" height="300"
                 class="d-inline-block" alt="">
          </div>
        </div>
        <div class="col-md-4">
          <div class="mb-4">
            <img src="/src/assets/gal11.jpg" width="300" height="300"
                 class="d-inline-block" alt="">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="mb-4">
            <img src="/src/assets/gal12.jpg" width="300" height="300"
                 class="d-inline-block" alt="">
          </div>
        </div>
        <div class="col-md-4">
          <div class="mb-4">
            <img src="/src/assets/gal13.jpg" width="300" height="300"
                 class="d-inline-block" alt="">
          </div>
        </div>
        <div class="col-md-4">
          <div class="mb-4">
            <img src="/src/assets/gal14.jpg" width="300" height="300"
                 class="d-inline-block" alt="">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="mb-4">
            <img src="/src/assets/gal15.jpg" width="300" height="300"
                 class="d-inline-block" alt="">
          </div>
        </div>
        <div class="col-md-4">
          <div class="mb-4">
            <img src="/src/assets/gal16.jpg" width="300" height="300"
                 class="d-inline-block" alt="">
          </div>
        </div>
        <div class="col-md-4">
          <div class="mb-4">
            <img src="/src/assets/gal17.jpg" width="300" height="300"
                 class="d-inline-block" alt="">
          </div>
        </div>
      </div>

    </div>
  </div>
</main>
<app-footer></app-footer>
