<app-header></app-header>
<main role="main">

  <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-interval="3000">
        <img src="/src/assets/gym5.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-interval="3000">
        <img src="/src/assets/gym.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-interval="3000">
        <img src="/src/assets/gym1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-interval="3000">
        <img src="/src/assets/gym2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-interval="3000">
        <img src="/src/assets/gym3.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-interval="3000">
        <img src="/src/assets/gym4.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </a>
  </div>

  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Немного о BubbleGYM</h1>
  </div>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">BubbleGYM - фитнес-клуб нового поколения</h2>
          <p>Мы любим спорт, он делает нас сильнее, увереннее, спокойнее. Мы любим спортивных людей и хотим, чтобы их
            было больше, красивых, привлекательных. Мы верим, что спорт доступен каждому. Поэтому мы создали фитнес-клуб
            в котором нет ничего лишнего, за что приходится переплачивать.</p>
          <ul>
            <li>Более 90 профессиональных тренажеров ( новейшие “Life fitness, Hammer strength, Technogym”)</li>
            <li>Тренажерный зал в Минске открыт круглосуточно</li>
            <li>Бесплатная фильтрованная, кипяченая и охлажденная питьевая вода</li>
            <li>Рядом бесплатный паркинг</li>
            <li>Возможность cамому приостановить годовой абонемент на 30 дней</li>
          </ul>
        </div>
        <div class="col-md-5">
          <img src="/src/assets/main.jpg" width="600" height="400" alt="#">
        </div>
      </div>
    </div>
  </div>

  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Причины присоединиться:</h1>
  </div>


  <div class="container marketing">

    <div class="row">
      <div class="col-lg-4">
        <h2>Квалифицированная команда</h2>
        <p>Выбирая тренажерный зал, отзывы о тренерах читаешь в первую очередь, потому что хороший тренер – это уже 50%
          успеха. Наш тренерский состав – это команда высококлассных специалистов, которые покажут и расскажут вам о
          тренировках всё.</p>
      </div>
      <div class="col-lg-4">
        <h2>Профессиональное оборудование</h2>
        <p>Качественное оборудование – ещё одна важная характеристика тренажерного зала. Наши тренажеры - это надежные и
          проверенные помощники на пути к результату. В наших залах комфортно заниматься не только профессионалам, но и
          новичкам.</p>
      </div>
      <div class="col-lg-4">
        <h2>Зона выброса эмоций</h2>
        <p>Тренажерный зал посещают не только для достижения определенного результата и поддержания формы. Для многих
          людей крайне важно выплеснуть накопившиеся эмоции и энергию. Помните, что поддерживать психоэмоциональное
          здоровье не менее важно, чем физическое. Поэтому тренажерный зал должен обладать благоприятной
          энергетикой.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <h2>Забота о клиенте</h2>
        <p>Забота о клиентах - наша главная цель. Приветливый и отзывчивый персонал всегда поможет словом и делом. Вы
          можете предварительно увидеть наших тренеров и тренажерный зал: фото размещены на нашем сайте и в
          соцсетях.</p>
      </div>
      <div class="col-lg-4">
        <h2>Ценовая политика</h2>
        <p>Несмотря на всё вышеперечисленное, мы предлагаем доступные цены. В наших залах вы можете приобрести
          абонементы на 8, 12 16 занятий и безлимитные. Абонемент сразу на несколько месяцев можно оформить по очень
          выгодной цене.</p>
      </div>
      <div class="col-lg-4">
        <h2>Об интерьере</h2>
        <p>BubbbleGYM – это современные тренажерные залы в Минске, в которых у вас откроется второе дыхание. В наших
          залах стильный и не отвлекающий от тренировок интерьер, вместительные шкафчики, куда поместятся все ваши вещи
          и просторные раздевалки, в наших душевых всегда чисто и комфортно.</p>
      </div>
    </div>
  </div>

  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Галерея</h1>
  </div>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        <div class="col-md-4">
          <div class="mb-4">
            <img src="/src/assets/gal.jpg" width="300" height="300"
                 class="d-inline-block" alt="">
          </div>
        </div>
        <div class="col-md-4">
          <div class="mb-4">
            <img src="/src/assets/gal1.jpg" width="300" height="300"
                 class="d-inline-block" alt="">
          </div>
        </div>
        <div class="col-md-4">
          <div class="mb-4">
            <img src="/src/assets/gal2.jpg" width="300" height="300"
                 class="d-inline-block" alt="">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="mb-4">
            <img src="/src/assets/gal3.jpg" width="300" height="300"
                 class="d-inline-block" alt="">
          </div>
        </div>
        <div class="col-md-4">
          <div class="mb-4">
            <img src="/src/assets/gal4.jpg" width="300" height="300"
                 class="d-inline-block" alt="">
          </div>
        </div>
        <div class="col-md-4">
          <div class="mb-4">
            <img src="/src/assets/gal5.jpg" width="300" height="300"
                 class="d-inline-block" alt="">
          </div>
        </div>
      </div>
      <div class="pricing-header px-3 py-3 mx-auto text-center">
        <button type="button" class="btn" [routerLink]="['/gallery']">Больше фото</button>
      </div>
    </div>
  </div>
</main>
<app-footer></app-footer>
