<app-header></app-header>
<h4>Работа с абонементами</h4>
<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Цена</th>
    <th scope="col">Срок действия</th>
    <th scope="col">Количество посещений</th>
    <th scope="col">Название</th>
    <th scope="col">Удалить</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let ticket of tickets">
    <td scope="row">{{ticket.idTicket}}</td>
    <td>{{ticket.cost}}</td>
    <td>{{ticket.duration}}</td>
    <td>{{ticket.visits}}</td>
    <td>{{ticket.name}}</td>
    <td>
      <button type="button" class="btn btn-danger" (click)="_deleteTicket(ticket.idTicket)">Удалить</button>
    </td>
  </tr>

  </tbody>
</table>

<div class="button">
  <button type="button" class="btn btn-dark" (click)="_updateTicket()">Обновить</button>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
          (click)="_openModal(template)">
    Добавить абонемент
  </button>
  <button type="button" class="btn btn-success" [routerLink]="['/adminMenu4815162342']">В меню</button>
</div>

<!-- Modal -->
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{editMode ? "Edit" : ""}}  Добавить абонемент</h4>
    <button type="button" class="close pull-right"
            aria-label="Close" (click)="_closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label>Цена</label>
      <input class="form-control" name="cost" [(ngModel)]="editableBa.cost" #cost="ngModel" required/>
      <div [hidden]="cost.valid || cost.untouched" class="alert alert-danger">
        Заполните поле
      </div>
    </div>
    <div class="form-group">
      <label>Срок действия</label>
      <input class="form-control" name="duration" [(ngModel)]="editableBa.duration" #duration="ngModel" required/>
      <div [hidden]="duration.valid || duration.untouched" class="alert alert-danger">
        Заполните поле
      </div>
    </div>
    <div class="form-group">
      <label>Количество посещений</label>
      <input class="form-control" name="visits" [(ngModel)]="editableBa.visits" #visits="ngModel"
                required/>
      <div [hidden]="visits.valid || visits.untouched" class="alert alert-danger">
        Заполните поле
      </div>
    </div>
    <div class="form-group">
      <label>Название</label>
      <input class="form-control" name="name" [(ngModel)]="editableBa.name" #name="ngModel" required/>
      <div [hidden]="name.valid || name.untouched" class="alert alert-danger">
        Заполните поле
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="_addTicket(cost, duration, visits, name)"
            [disabled]="cost.invalid || duration.invalid || visits.invalid || name.invalid">{{editMode ? "Save" : "Добавить"}}
    </button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="_closeModal()">Закрыть</button>

  </div>
</ng-template>

