<app-header></app-header>
<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
  <div class="menu bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white">
    <div class="my-3 py-3">
      <h2 class="display-5">Новости</h2>
      <p class="lead">Работа с новостями</p>
      <button type="button" class="btn btn-primary" [routerLink]="['/admin-news']">Перейти</button>
    </div>
    <div class="bg-light shadow-sm mx-auto"></div>
  </div>

  <div class=" menu bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white">
    <div class="my-3 py-3">
      <h2 class="display-5">Клиенты</h2>
      <p class="lead">Работа с данными клиентов</p>
      <button type="button" class="btn btn-primary" [routerLink]="['/admin-purchase']">Перейти</button>
    </div>
    <div class="bg-light shadow-sm mx-auto"></div>
  </div>

  <div class=" menu bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white">
    <div class="my-3 py-3">
      <h2 class="display-5">Ответы</h2>
      <p class="lead">Работа с ответами</p>
      <button type="button" class="btn btn-primary" [routerLink]="['/admin-faq']">Перейти</button>
    </div>
    <div class="bg-light shadow-sm mx-auto"></div>
  </div>
</div>
<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">

  <div class="menu bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white">
    <div class="my-3 py-3">
      <h2 class="display-5">Абонементы</h2>
      <p class="lead">Работа с абонементами</p>
      <button type="button" class="btn btn-primary" [routerLink]="['/admin-ticket']">Перейти</button>
    </div>
    <div class="bg-light shadow-sm mx-auto"></div>
  </div>

  <div class="menu bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white">
    <div class="my-3 py-3">
      <h2 class="display-5">Тренеры</h2>
      <p class="lead">Работа с тренерами</p>
      <button type="button" class="btn btn-primary" [routerLink]="['/admin-trainer']">Перейти</button>
    </div>
    <div class="bg-light shadow-sm mx-auto"></div>
  </div>

</div>
<app-footer></app-footer>
